<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Triangle Calculator</title>
        <link rel="stylesheet" text="text/css" href="css/style.css" />
    </head>
    <body>
        <!-- Header Start -->
        <header class="header">
            <div class="container">
                <div class="flex space-between item-center">
                    <!-- Left Section -->
                    <div class="left">
                        <a href="/"
                            ><img class="logo" src="img/logo.png" alt="logo"
                        /></a>
                    </div>
                    <!-- Right Section -->
                    <div class="right">
                        <nav class="main-menu">
                            <ul class="flex">
                                <li>
                                    <a href="/circle">Circle Calculator</a>
                                </li>
                                <li>
                                    <a href="/triangle" class="active"
                                        >Triangle Calculator</a
                                    >
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->

        <!-- Hero Start -->
        <section class="hero">
            <div class="container">
                <div class="flex items-center justify-center">
                    <div class="hero-content">
                        <h1>Triangle Calculator</h1>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Sit earum mollitia fugiat error odio quod.
                            Veritatis, facilis hic praesentium repellat ratione
                            dolorum natus eveniet officiis? Quaerat, doloribus
                            deleniti. Voluptatum, blanditiis
                        </p>
                        <form action="/triangle" method="post">
                            <input
                                type="number"
                                name="base"
                                id="base"
                                class="input-control"
                                placeholder="Enter Base"
                            />
                            <input
                                type="number"
                                name="height"
                                id="height"
                                class="input-control"
                                placeholder="Enter Height"
                            />
                            <input
                                type="submit"
                                value="Calculate"
                                class="btn"
                            />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero End -->
    </body>
</html>
